     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if page.url == "/404.html" %}

      <meta http-equiv="refresh" content="5; url=/">

    {% endif %}

    <title>{{ page.title }}</title>

     <!-- Load Bootstrap and FontAwesome CDN'ed from bootstrapcdn.com -->
     <link href="{{ site.bootstrap_noicons_cdn_url }}" rel="stylesheet" />
     <link href="{{ site.bootstrap_fontawesome_icons_cdn_url }}" rel="stylesheet" />

    <!-- syntax highlighting CSS -->
    <link href="/css/syntax.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'One Page Wonder' Template -->
    <link href="/css/one-page-wonder.css" rel="stylesheet">

    <!-- Custom CSS for this Site -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>

    {% if page.layout contains 'post' %}

    <!-- ShareThis -->

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "5de4d4e0-e735-4361-bf4d-183c9b177956", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

    {% endif %}

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">{{ site.my_label_toggle_navigation }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.name }}</a>
            </div>

            <!-- GitHub Ribbon -->
<!-- 
            <div id="githubribbon">

              {% if site.is_github_ribbon_displayed %}

                <a href="{{ site.github_repo_url }}" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;"  alt="Fork me on GitHub" src="{{ site.my_images_subpath }}{{ site.github_ribbon_image_stub }}{{ site.github_ribbon_color }}{{ site.my_images_filetype }}"></a>

              {% endif %}

            </div>
 -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                   {% for section in site.data.sections %}

                     {% assign stripped_spaces =  section.link_label | remove: ' ' %}
                     {% assign link_anchor = stripped_spaces | downcase  %}

                     <li><a href="/#{{ link_anchor }}">{{ section.link_label }}</a></li>

                   {% endfor %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="header-image">

        <div class="headline">
            <div class="container">

              {% if page.layout contains 'blog' %}

                {% assign headingToUse = site.blog_name %}
                {% assign subheadingToUse = site.blog_description %}

              {% else %}

                {% assign headingToUse = site.name %}
                {% assign subheadingToUse = site.description %}

              {% endif %}

                <h1>{{ headingToUse }}</h1>
                <h2>{{ subheadingToUse }}</h2>

                {% if site.is_socialmedia_widget_displayed %}

                  <h3>{% include /widgets/socialmedia.html %}</h3>

                {% endif %}

            </div>
        </div>

    </div>
    <!-- /header-image -->
