    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- syntax highlighting CSS -->
    <link href="css/syntax.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'One Page Wonder' Template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- Custom CSS for this Site -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
