<table>
  <tbody>
    <tr>
      <td>

        {{ site.my_label_post_share }}

      </td>
      <td>

        <span class='st_email' displayText='Email'></span>
        <span class='st_twitter' displayText='Tweet'></span>
        <span class='st_facebook' displayText='Facebook'></span>
        <span class='st_tumblr' displayText='Tumblr'></span>
        <span class='st_delicious' displayText='Delicious'></span>
        <span class='st_pinterest' displayText='Pinterest'></span>
        <span class='st_twitterfollow' displayText='Twitter Follow' st_username='DH_Box'></span>
        <span class='st_fblike' displayText='Facebook Like'></span>
        <span class='st_sharethis' displayText='ShareThis'></span>

      </td>
    </tr>
  </tbody>
</table>
