<div class="socialmedia">

  <div class = "container">

  {{ site.my_label_socialmedia }}

  {% if site.use_default_socialmedia_icons %}

      {% for service in site.data.socialmedia %}

        {% if service.is_displayed %}

          {% assign handleToUse = service.handle %}
          {% assign urlToUse = service.url_base | append: handleToUse %}
          {% assign serviceDowncase = service.name | downcase %}

            <a href="{{ urlToUse }}" target="_blank">
              <i class="icon icon-{{ serviceDowncase }}"></i>
              <span>{{ service.name }}</span>
            </a>

            {{ site.my_delimiter_socialmedia }}

          {% endif %}

        {% endfor %}

   {% endif %}

  </div>
</div>
