  {{ site.my_label_socialmedia }}

      {% for service in site.data.socialmedia %}

        {% if service.is_displayed %}

          {% assign handleToUse = service.handle %}
          {% assign urlToUse = service.url_base | append: handleToUse %}
          {% assign serviceDowncase = service.name | downcase %}

            {{ site.my_delimiter_socialmedia }}
            
            <a href="{{ urlToUse }}" target="_blank">
              <i class="icon icon-{{ serviceDowncase }}"></i>
              <span>{{ service.name }}</span>
            </a>

          {% endif %}

        {% endfor %}
