---
layout: default
title: The Team | DH Box
has_header: false
---

        <div class="breadcrumbtrail">

          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class=active>Us</li>
          </ol>
        </div>

        <h1>The DH Box Team</h1>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        {% for section in site.data.people %}

          {% assign stripped_spaces =  section.anchor | remove: ' ' %}
          {% assign link_anchor = stripped_spaces | downcase  %}

          <div class="featurette" id="{{ link_anchor }}">

          <br>

          <table>
            <tr>
              <td>

              {% if section.is_advisor %}

              <div class="advisor">

              {% endif %}

              {% if section.display_image %}
                <img class="face featurette-image img-circle img-responsive pull-{{ section.image_alignment }}" src="{{ site.my_images_subpath }}{{ section.image_name }}" />

              {% endif %}

              <h2 class="featurette-heading">{{ section.name }}
                <br>
                <span class="text-muted">{{ section.role }}</span>
              </h2>

                  {{ section.social_media }}
               </td>
             </tr>
             <tr>
               <td>                  
                  <br><br>
                  {{ section.description }}

                  {% if section.display_why %}

                    <br><br>

                    <p class="why">{{ site.my_aboutpage_why_label }}</p>

                    <p>{{ section.why }}</p>

                    <br><br>

                  {% endif %}

            {% if section.is_advisor %}


            {% endif %}
            </td>
          </tr>
        </table>
 
          </div>

        {% endfor %}

        <!-- END THE FEATURETTES -->
