---
layout: blog_posts
categories: blog
---
{% include header.html %}

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/blog">Blog</a></li>
  <li class=active>{{ page.title }}</li>
</ol>

<div class="post">

<h2>{{ page.title }}</h2>

<div class="postheader">

  <div  class="date">{{ page.date | date_to_string }}
  </div>

    {% if site.is_blog_printbutton_displayed %}

      <div class="post-print">{% include /widgets/printbutton.html  %}
      </div>

    {% endif %}

</div>

<br />

  {{ content }}

  <br />

  {% if site.is_blog_postshare_displayed %}

    {% include /widgets/postshare.html %}

  {% endif %}
  
</div>

{% include footer.html %}
